
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="Merchant" ng-init="init('@ViewBag.PageUrl')">
    <section class="content" ng-init="GetMerchantData()">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-gray card-outline">
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row mb-2">
                                    <div class="col-sm-12 col-md-12">
                                        <button type="button" class="btn btn-danger btn-sm float-right" ng-if="Ctrl.wDelete" ng-click="DeleteData(Merchant)">
                                            <i class="fas fa-trash-alt"></i> Delete
                                        </button>
                                        <button type="button" class="btn btn-secondary btn-sm float-right mr-1" ng-if="Ctrl.wEdit" ng-click="StatusData(Merchant, 0)">
                                            <i class="fas fa-times-circle"></i> Deactivate
                                        </button>
                                        <button type="button" class="btn btn-secondary btn-sm float-right mr-1" ng-if="Ctrl.wEdit" ng-click="StatusData(Merchant, 1)">
                                            <i class="fas fa-check-circle"></i> Activate
                                        </button>
                                        <button type="button" class="btn btn-info btn-sm float-right mr-1" data-toggle="modal" data-target="#createMerchantModal" ng-if="Ctrl.wAdd" ng-click="AddData()">
                                            <i class="fas fa-plus-circle"></i> Create
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length form-inline">
                                            <label>
                                                Show
                                                <select name="example1_length" class="form-control form-control-sm" ng-model="pagingInfo.itemsPerPage" ng-change="setItemsPerPage(pagingInfo.itemsPerPage)">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries
                                            </label>
                                            <img src="~/Content/dist/img/ajax-loader2.gif" ng-show="loading" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <form ng-submit="search()" role="form">
                                            <div class="form-inline dataTables_filter">
                                                <label>
                                                    Search:
                                                    <input type="search" class="form-control form-control-sm" placeholder="" ng-model="pagingInfo.search">
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="text-center" width="3%">
                                                        <input type="checkbox" name="checkAll" id="checkAll" ng-model="selectedAll" ng-click="selectAll()" ng-disabled="!Ctrl.wDelete && !Ctrl.wEdit" />
                                                    </th>
                                                    <th class="sorting" width="4%" ng-click="sort('Id')">Nos</th>
                                                    <th class="sorting" ng-click="sort('PropertyName')">Property</th>
                                                    <th class="sorting" ng-click="sort('Name')">Merchant</th>
                                                    <th class="sorting" ng-click="sort('Email')">Email</th>
                                                    <th class="sorting" ng-click="sort('ContactPerson')">Contact Person</th>
                                                    <th class="text-center sorting" ng-click="sort('Published')">Status</th>
                                                    <th class="text-center" ng-if="Ctrl.wDelete || Ctrl.wEdit">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="pagingInfo.totalItems == 0">
                                                    <td colspan="8"><center>No data to display</center></td>
                                                </tr>
                                                <tr ng-if="pagingInfo.totalItems > 0" ng-repeat="to in Merchant">
                                                    <td class="text-center">
                                                        <input type="checkbox" name="check" id="check{{$index + 1}}" ng-model="to.isChecked" ng-change="checkSelected(to.isChecked)" ng-disabled="!Ctrl.wDelete && !Ctrl.wEdit" />
                                                    </td>
                                                    <td ng-bind="(pagingInfo.itemsPerPage * (pagingInfo.page - 1)) + $index + 1"></td>
                                                    <td ng-bind="to.PropertyName"></td>
                                                    <td ng-bind="to.Name"></td>
                                                    <td ng-bind="to.Email"></td>
                                                    <td ng-bind="to.ContactPerson"></td>
                                                    <td class="text-center"><span ng-class="(to.Published === 'True')? 'badge badge-success' : 'badge badge-danger'" ng-bind="(to.Published === 'True')? 'Active' : 'Inactive'"></span></td>
                                                    <td class="text-center" ng-if="Ctrl.wDelete || Ctrl.wEdit">
                                                        <button type="button" class="btn btn-secondary btn-circle btn-sm" data-toggle="modal" data-target="#createMerchantModal" ng-if="Ctrl.wEdit" ng-click="EditMerchantData(to)"><i class="fas fa-pencil-alt"></i></button>
                                                        <button type="button" class="btn btn-danger btn-circle btn-sm" ng-if="Ctrl.wDelete" ng-click="DeleteMerchant(to)"><i class="fas fa-trash-alt"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing {{pagingInfo.page}} to {{pagingInfo.totalItems/pagingInfo.itemsPerPage | roundup }} of {{pagingInfo.totalItems}} entries</div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                            <ul uib-pagination total-items="(10 * pagingInfo.totalItems)/pagingInfo.itemsPerPage" ng-model="pagingInfo.page" ng-change="selectPage(pagingInfo.page)" max-size="10" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>

        <div class="modal fade" id="createMerchantModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Merchant</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form name="MerchantForm" novalidate role="form" autocomplete="off">
                        <div class="modal-body dataTable">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group has-feedback" show-errors>
                                        <label for="Name">Name <small>*</small></label>
                                        <input type="text" class="form-control form-control-sm" id="Name" name="Name" ng-model="data.Name" ng-required="true" placeholder="Name">
                                        <div style="color:red" class="invalid-feedback" ng-if="MerchantForm.Name.$error.required">You can't leave this empty.</div>
                                    </div>
                                    <div class="form-group has-feedback" show-errors>
                                        <label for="PropertyID">Property <small>*</small></label>
                                        <select class="form-control form-control-sm" id="PropertyID" name="PropertyID" ng-model="data.PropertyID" ng-required="true">
                                            <option value="">Please select...</option>
                                            <option ng-repeat="pr in Propertys" ng-selected="pr.Id === data.PropertyID" value="{{pr.Id}}">{{pr.Name}}</option>
                                        </select>
                                        <div style="color:red" class="invalid-feedback" ng-if="MerchantForm.PropertyID.$error.required">You can't leave this empty.</div>
                                    </div>
                                    <div class="form-group has-feedback" show-errors>
                                        <label for="ContactPerson">Contact Person <small>*</small></label>
                                        <input type="text" class="form-control form-control-sm" id="ContactPerson" name="ContactPerson" ng-model="data.ContactPerson" placeholder="Contact Person">
                                        <div style="color:red" class="invalid-feedback" ng-if="MerchantForm.ContactPerson.$error.required">You can't leave this empty.</div>
                                    </div>
                                    <div class="form-group has-feedback" show-errors>
                                        <label for="Email">Email <small>*</small></label>
                                        <textarea class="form-control text-xs pl-2 pr-2" id="Email" name="Email" ng-model="data.Email" placeholder="email@domain.com" ng-required="true" rows="2"></textarea>
                                        <div style="color:red" class="invalid-feedback" ng-if="MerchantForm.Email.$error.required">You can't leave this empty.</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Section">Section </label>
                                        <input type="text" class="form-control form-control-sm" id="Section" name="Section" ng-model="data.Section" placeholder="Section">
                                    </div>
                                    <div class="form-group has-feedback" show-errors>
                                        <label for="published">Published <small>*</small></label>
                                        <select class="form-control form-control-sm" id="Published" name="Published" ng-model="data.Published" ng-required="true">
                                            <option value="True">Active</option>
                                            <option value="False">Inactive</option>
                                        </select>
                                        <div style="color:red" class="invalid-feedback" ng-if="MerchantForm.Published.$error.required">You can't leave this empty.</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="text-xs" for="MerchantImage">Select Image *</label>
                                        <div class="mt-1">
                                            <a href="{{data.MerchantImage}}" target="_blank" title="{{data.Name}}" ng-if="data.MerchantImage !== ''">
                                                <img ng-src="{{data.MerchantImage}}" ng-show="data.MerchantImage != null" alt="{{(data.Name)? data.Name : 'Federal Land, Inc.'}}" class="img-upload" style="height: 220px; width: 220px" />
                                            </a>
                                            <img src="~/Content/upload/default.jpg" ng-show="data.MerchantImage == null" alt="{{(data.Name)? data.Name : 'Federal Land, Inc.'}}" class="img-upload" style="height: 220px; width: 220px;" />
                                        </div>
                                        <div class="input-group mt-2 input-group-sm">
                                            <div class="custom-file">
                                                <input type="file" name="MerchantImage" class="form-control form-control-sm custom-file-input2" fileread="data.MerchantImage" accept="image/*" />
                                                <label class="custom-file-label2 bg-secondary text-xs" for="exampleInputFile">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" ng-click="ClearData()">Close</button>
                            <button type="button" class="btn btn-secondary btn-sm" ng-click="SaveMerchant(data)">Save changes</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </section>
</div>

@section scripts{
    <script src="~/Scripts/ProjectScriptFile/Merchant.js"></script>
}
